<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/app.js" type="text/javascript"></Script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{error_msg}}</p>
    </div>
    {{>footer}}
</body>
</html>